h1 {
    color: red;
}

#heading1 {
    color: blue;
}

.heading2 {
    color: green;
}

.paragraph {
    color: purple;
    border: 2px;
    border-color: black;
    border-style: solid;
    padding: 20px;
    text-align: center;
}